/* Footer Social — social media links row */

.footer-social {
  padding-bottom: 48px;
}

.footer-social ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-social li {
  margin: 0 20px 0 0;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social li a:any-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
}

.footer-social li a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

@media (width >= 900px) {
  .footer-social > div {
    display: flex;
    justify-content: flex-end;
  }
}
