footer {
  background-color: #fff;
  font-size: 14px;
  font-family: var(--body-font-family);
  color: var(--text-color);
}

footer .footer > div {
  margin: auto;
  max-width: 1536px;
  padding: 96px 16px 48px;
}

footer .footer .section {
  margin: 0;
  padding: 0;
}

footer .footer .section > div {
  max-width: none;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 96px 32px 48px;
  }
}
